body{
    background-color: orangered;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange:hover{
    background-color: rgb(247, 173, 36);
    transition: .3s ease-in;
    color: black!important;
    
}

.texto-negro{
    
}

.texto-negro:hover{
    color: black!important;
}
.carousel-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.contenedor_principal{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}
 